@font-face {
    font-family: Alterna;
    src: url(a_Alterna.ttf);
   }
@font-face {
    font-family: AvantenaSemidBold;
    src: url(a_AvanteLtNr_SemiBold.ttf);
   }
@font-face {
    font-family: Azbuka;
    src: url(Azbuka03_D.ttf);
   }